/**

Quickstart config for Babel
---------------------------

yarn add babel-preset-env babel-preset-react babel-plugin-transform-object-rest-spread babel-plugin-transform-class-properties

**/
{
  "presets": [
    "env",
    "react",
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
  ]
}
