html {
  font-size: 16px;
}

.App {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

.App-header {
  color: #c0392b;
  margin-bottom: 3rem;
}

.App-title {
  font-size: 1.75em;
}

.App-intro {
  font-size: 1rem;
  background-color: #95a5a633;
  padding: 1rem;
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
